html {
  font-family: Raleway, sans-serif;
}

.home-banner {
  height: 35em;
}

.feature-banner {
  height: 35em;
}

.current {
  color: #3d3dea;
}

.testimonials {
  background-color: #e6e6e6;
}

.test {
  margin: 0 auto;
  max-width: 200px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

li a {
  padding: .75em;
  text-decoration: none;
  color: #000;
}

.grey {
  background-color: #e6e6e6;
}

.icon-label {
  color: #3d3dea;
}

.darkblue {
  color: #0a1363;
}

.blue {
  color: #3d3dea;
}

.table {
  border: 3px solid #ccc;
  min-width: 900px;
}

.tableblue {
  width: 7em;
  color: #3d3dea;
}

.tbody tr:nth-child(odd) {
  background-color: #ccc;
}

.btn-blue {
  background-color: #02b7cd;
  border-radius: 10px;
  color: #fff;
  border-style: solid;
  border-color: #02b7cd;
}

.banner-price {
  min-height: 1200px;
  background-size: cover;
  background-position: 0% 0%;
  background-color: #e6e6e6;
}

.wrapper-price {
  max-width: 60em;
}

.signup-text {
  text-align: center;
  margin: auto;
}

.price-table {
  table-layout: auto;
  margin: 0 auto 2rem;
}

.price-table td, .price-table th {
  border: none;
}

.blue-bg {
  background-color: #02b7cd;
  padding: 1rem 0;
}

.table-heading {
  color: white;
  text-align: center;
}

.bodytable {
  background-color: #fff;
}

.tablefoot {
  background-color: #fff;
}

.signup-text {
  text-align: center;
  margin: auto;
}

.wrapper {
  max-width: 70em;
}

@media only screen and (min-width: 38em) {

  nav li:last-child a {
    background-color: #02b7cd;
    border-radius: 10px;
    color: #fff;
  }

  nav a:hover {
    background-color: #b0b3b4;
    border-radius: 10px;
    color: #fff;
  }

  nav li:last-child a:hover {
    background-color: #000;
  }

}

@media only screen and (min-width: 60em) {

  nav li:last-child a {
    background-color: #02b7cd;
    border-radius: 10px;
    color: #fff;
  }

  nav a:hover {
    background-color: #b0b3b4;
    border-radius: 10px;
    color: #fff;
  }

  nav li:last-child a:hover {
    background-color: #000;
  }

  .signup-text {
    width: 100%;
    padding-top: 150px;
  }

  .push-double {
    margin-bottom: 3rem;
  }

  table {
    width: calc(100% + .375rem + .375rem);
  }

  .price-table {
    max-width: 430px;
  }

  .signup-text {
    width: 100%;
    padding-top: 150px;
  }

}
