html {
  font-family: "Raleway", sans-serif;
}

.home-banner {
  height: 35em;
}

.feature-banner {
  height: 35em;
}

.test {
  margin-left: 8.6rem;
  max-width: 200px;
}

.nav a {
text-decoration: none;
color: #000;
}

li a {
padding: .75em;
text-decoration: none;
color: #000;
}

.grey {
background-color: #ccc;
}

table {
  border: 3px solid #ccc;
  min-width: 900px;
}

.tableblue {
  width: 7em;
  color: #3d3dea;
}

tbody tr:nth-child(odd) {
  background-color: #ccc;
}

@media only screen and (min-width: 38em) {

  nav li:last-child a {
    background-color: #02B7CD;
    border-radius: 10px;
    color: #fff;
  }

  nav a:hover {
    background-color: #B0B3B4;
    border-radius: 10px;
    color: #fff;
  }

  nav li:last-child a:hover {
    background-color: #000;
  }
}

@media only screen and (min-width: 60em) {

  .nav-open, .nav-close {
      display: none;
  }

  nav li:last-child a {
    background-color: #02B7CD;
    border-radius: 10px;
    color: #fff;
  }

  nav a:hover {
    background-color: #B0B3B4;
    border-radius: 10px;
    color: #fff;
  }

  nav li:last-child a:hover {
    background-color: #000;
  }

}
